/* This was stolen from firefox and is under MPL 2.0" */
button {
    height: 32px;
    border-radius: 2px;
    padding-inline: 8px;
    font-size: 13px;
    font-weight: 132px;
    background-color: #0060df;
    color: #fff;
    border: none;
    width: 217px;
}

button:hover {
    background-color: #0047b3;
}

input {
    height: 32px;
    border-radius: 2px;
    padding-inline: 8px;
    font-size: 13px;
    font-weight: 132px;
    background-color: #fff;
    color: #000;
    border: none;
    width: 200px;
}

#instructions{
    font-size: 14px;
    font-weight: 132px;
    width: 200px;
}


/* if prefers-color-scheme theme body have dark background white text */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2a2a2e;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;
    }
}
  
/* if prefers-color-scheme light */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: #2a2a2e;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;
    }
}